Resources:
  SessionTable:
    Type: AWS::DynamoDB::Table
    Properties:
      KeySchema: 
        HashKeyElement:
          AttributeName: Key
          AttributeType: S
        RangeKeyElement:
          AttributeName: Bucket
          AttributeType: S
      ProvisionedThroughput:
        ReadCapacityUnits: 5
        WriteCapacityUnits: 5
files:
  "c:/ebconfig/sessiontable.txt":
    mode: "000444"
    content: |
      SESSIONTABLE=`{"Ref" : "SessionTable"}`
      REGION=`{"Ref" : "AWS::Region"}`

option_settings:
  - option_name: runtime.settings
    value: c:\ebconfig\sessiontable.txt

